@font-face {
    font-family: 'LGC';
    src: url(./Louis\ George\ Cafe.ttf);
}

.hello {
    font-family: 'LGC';
}

body {
    height: calc(100vh - 40px);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333333;
}

img {
    width: 500px;
    height: 500px;
    display: block;
}

main {
    text-align: center;
}

a {
    font-size: 16px;
    color: #80C8CA;
}